/* media queries */
@media all and (max-width: 1280px) {       /* tablet con resolucion 1280x800 */
    .botones {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    .fondo {
        padding: 20px;
    }
    .topcoat-button--large {
        font-size: 3.8rem;
    }
    .nivelesB {
        margin-top: 25px;
        margin-bottom: 25px;
        max-width: 1024px;
        max-height: 600px;
    }
    .fraseordenada {
        max-width: 92%;
        padding: 7px;
        margin-left: 1%;
        height: 195px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .listapalabras {
        max-width: 92%;
        height: 185px;
        padding: 7px;
        padding-bottom: 7px;
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: 10px;
        text-align: left;
    }
    .listapalabras img {
        width: 170px;
        height: 170px;
    }
    .fraseordenada img{
        width: 180px;
        height: 190px;
    }
    .next-button {
        top: 360px;
    }
    .new-button {
        top: 160px;
    }    
    .third {
        width: 28%;
    }
    
    .imgboton {
        width: 240px;
        height: 180px;
    }
    .fraseordenada2 {
        max-width: 92%;
        padding: 5px;
        margin-left: 1%;
        height: 183px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
   .fraseordenada2 img{
        width: 160px;
        height: 160px;
    }
    .sujeto img {
        border: 0;
        width: 155px;
    }
    .accion2 img {
        border: 0;
        width: 160px;
        height: 144px;
    }
    .comple img {
        padding: 2px;
        border: 0;
        width: 155px;
    }
    .topcoat-navigation-bar__title {
      font-size: 3rem;
    }
    .tituloC {
        font-size: 2.6rem;
    }
    .scroller2 {
        overflow: auto;
       /* background-color: #;*/
    /*iOS 4 or lower required an esoteric two finger gesture to scroll elements but normality was achieved from iOS 5. Unlike other browsers, while overflow:auto works, momentum scrolling is disabled unless you also add -webkit-overflow-scrolling: touch.*/
        -webkit-overflow-scrolling: touch;
        position: absolute;
        top: 285px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
    }
}
@media all and (max-width: 1024px) {   /* tablet con resolucion 1024x768 o 1024x600 */
    .topcoat-button--cta {
        width: 45%;
    }
    .imgHome {
        width: 90%;
        margin-top: 3%;
    }    
    .botones {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .nivelesB {
        margin-top: 25px;
        margin-bottom: 25px;
        max-width: 980px;
        max-height: 500px;
    }
    .topcoat-button--large {
        font-size: 3.4rem;
    }
    .fraseordenada {
        max-width: 90%;
        height: 160px;
        padding: 5px;
        margin-left: 1%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .listapalabras {
        max-width: 90%;
        height: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 1%;
        margin-top: 2%;
    }
    .listapalabras img {
        width: 140px;
        height: 140px;
    }
    .fraseordenada img{
        width: 135px;
        height: 135px;
    }
    .next-button {
        top: 330px;
    }
    .new-button {
        top: 160px;
    }
    .fraseordenada2 {
        max-width: 90%;
        height: 160px;
        padding: 3px;
        margin-left: 1%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .accion2 img {
        border: 0;
        width: 135px;
        height: 115px;
    }
    .sujeto img {
        border: 0;
        width: 135px;
        height: 135px;
    }
    .comple img {
        padding: 2px;
        border: 0;
        width: 135px;
        height: 135px;
    }
    .topcoat-navigation-bar__title {
      font-size: 2.5rem;
    }
    .tituloC {
        font-size: 2.2rem;
    }
    .scroller2 {
        overflow: auto;
       /* background-color: #;*/
    /*iOS 4 or lower required an esoteric two finger gesture to scroll elements but normality was achieved from iOS 5. Unlike other browsers, while overflow:auto works, momentum scrolling is disabled unless you also add -webkit-overflow-scrolling: touch.*/
        -webkit-overflow-scrolling: touch;
        position: absolute;
        top: 255px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
    }
}

/*Añadimos para que el header no haga scroll:*/
.scroller {
    overflow: auto;
   /* background-color: #;*/
/*iOS 4 or lower required an esoteric two finger gesture to scroll elements but normality was achieved from iOS 5. Unlike other browsers, while overflow:auto works, momentum scrolling is disabled unless you also add -webkit-overflow-scrolling: touch.*/
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 75px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

/* clases de la vista Home */
.botones {
    background-image: url("../../img/letras2.jpg");
    background-repeat: repeat-x;
}
.boton {
    float: left;
    margin-left: 5%;
    background-image: url("../../img/letras2.jpg");
    background-repeat: repeat-x;
}
.imgHome {
    max-width: 100%;
    margin-top: 5%;
    border-radius: 6px;
}
.inicio {
    text-align: center;
    max-width: 100%;
}
.logo {
    width: 90px;
    height: 60px;
    margin-top: 8px;
}

/* clases de la vista Niveles Orden */
.nivelesB {
    margin: 0 auto;
    background-color: white;
    border: 10px solid #f99f9f;
    text-align: center;
    padding: 5%;
}
.n1 {
    background-color: #47A447;
}
.n2 {
    background-color: #39B3D7;
}
.n3 {
    background-color: #ED9C28;
}
.n4 {
    background-color: #D2322D;
}

.n1:hover {
    background-color: #BCF5A9;
    border: solid 3px #47A447;
    color: #47A447;
}
.n2:hover {
    background-color: #A9F5F2;
    border: solid 3px #39B3D7;
    color: #39B3D7;
}
.n3:hover {
    background-color: #F3E2A9;
    border: solid 3px #ED9C28;
    color: #ED9C28;
}
.n4:hover {
    background-color: #F6CECE;
    border: solid 3px #D2322D;
    color: #D2322D;
}

/* clases de la vista verOrdenar */
#cajaNivel {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
}
.fraseordenada {
    overflow: hidden;
    border: 5px solid white;
}
.listapalabras {
    overflow: hidden;
    border: 4px solid white;
    text-align: center;
}
.imgFrase {
    padding: 3px;
    margin-right: 20px;
    border: 3px solid #A9F5F2;
    border-radius: 6px;
}
.imgFrase2 {
    margin-right: 10px;
    border-radius: 6px;
}
.next {
    float: right;
}
.new {
    float: right;
}
.nivel1 {
    background-color: #47A447;
}
.nivel2 {
    background-color: #39B3D7;
}
.nivel3 {
    background-color: #ED9C28;
}
.nivel4 {
    background-color: #D2322D;
}
.next-button {
    position: absolute;
    right: 10px;
    background-color: #0040FF;
}
.new-button {
    position: absolute;
    right: 0px;
    background-color: #EFF2FB;
}
.new-button:hover {
    border-color: #58ACFA;
}
.pictos {
    float: left;
}
.bien {        
    padding: 3px;
}
.bien img {
   border: 3px solid #0040FF;
   border-radius: 4px; 
}
/* clases de la vista verDatosInventar */
.cajaInventar {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    background-color: #81BEF7;
}
.e1 {
    background-color: #47A447;
}
.e3 {
    background-color: #39B3D7;
}
.e2 {
    background-color: #D2322D;
}

.e1:hover {
    background-color: #BCF5A9;
    border: solid 3px #47A447;
    color: #47A447;
}
.e3:hover {
    background-color: #A9F5F2;
    border: solid 3px #39B3D7;
    color: #39B3D7;
}
.e2:hover {
    background-color: #F6CECE;
    border: solid 3px #D2322D;
    color: #D2322D;
}
.botonG{
    max-width: 100%;
}

/* clases de la vista verSujetos */
.fraseOrden {
     overflow: auto;
   /* background-color: #;*/
/*iOS 4 or lower required an esoteric two finger gesture to scroll elements but normality was achieved from iOS 5. Unlike other browsers, while overflow:auto works, momentum scrolling is disabled unless you also add -webkit-overflow-scrolling: touch.*/
    -webkit-overflow-scrolling: touch;
     background-color: #81BEF7;
}
.fraseordenada2 {
    overflow: hidden;
    border: 5px solid white;
    border-radius: 6px;
}
.listapictos {
    max-width: 92%;
    height: auto;
    padding: 5px;
    padding-bottom: 7px;
    border: 4px solid white;
    margin-left: 1%;
    margin-top: 5px;
    border-radius: 6px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.tipoPicto {
    padding: 1px;
    text-align: left;
    width: 100%;
    height: auto;
    clear: both;
    color: white;
    font-size: 1.5rem;
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.picto2 {
    padding: 3px;
    float: left;
}
.picto2 img {
    width: 130px;
    height: 130px;
    padding: 1px;
    margin: 0px;
    border: 2px solid #D8D8D8;
}
.pictoP {
    opacity: 0.8;
}
.pictoP:hover {
    border-color: #58ACFA;
    opacity: 1;
}
.picto2 img:hover {
    border-color: #58ACFA;
    opacity: 1;
}
.texto {
    float: left;
    margin: 0;
}
.articulo {
    background-color: darkorange;
}
.persona {
    background-color: seagreen;
}
.animal {
    background-color: blueviolet;
}
.cosa {
    background-color: coral;
}
#fraseI {
    display: none;
}
/* clases de la vista verAcciones */
.accion {
   background-color: #C42F2F;
}
.sujeto {
    border: 4px solid #A5FF7F;
    float: left;
    padding: 1px;
    margin-bottom: 10px;
}
.imgFrase3 {
    padding: 3px;
    border: 3px solid #A5FF7F;
}   
.pictosAccion {
    padding: 3px;
    float: left;
}
.pictosAccion img {
    width: 120px;
    height: 120px;
    padding: 2px;
    margin: 0px;
    border: 2px solid #D8D8D8;
}
.tiempoV {
    font-size: 1.5rem;
    background-color: #fff;
}
/* clases de la vista verComplementos */
.accion2 {
    border: 4px solid #ED1C24; 
    float: left;
    margin-left: 5px;
    text-align: center;
    padding: 1px;
}
.accion2 p {
    margin-top: -13px;
    background-color: #fff;
    margin-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
}
.adjetivo {
    background-color: blueviolet;
}
.sustantivo {
    background-color: seagreen;
}
.nexo {
   background-color: darkorange; 
}
.comple {
   border: 4px solid blue; 
   float: left; 
   margin-left: 5px;
   padding: 3px;
}
#complemen {
    display: none;
}
/*tamaño y estilo imagen del botón */
.imgboton {
    border: 2px solid #D8D8D8;
    border-radius: 6px;
}

/* clases y elementos generales usados en varias vistas */
body {
    margin: 0 auto;
  /*  font-family: SourceSansPro-Light;*/
}
a {
    text-decoration: none;
    color: inherit;	
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0);
}
h2, h3, h4 {
    margin-bottom: 5px;
    margin-top: 5px;
}
h4 span {
    margin-left: 6px;
    margin-right: 10px;
    color: blue;
}
footer {
    position: static;
    text-align: center;
    color: #000;
    clear: both;
    margin-top: 1px;
    border-top: 1px solid #595b5b;
    
  /*  height: 3.969rem;*/
    vertical-align: middle;
}
.fondo {
    background-image: url("../../img/letras2.jpg");
    background-repeat: repeat-x;
}

.clearfix {
    clear: both;
    float: left;
}
.less-half {
    width: 37%;
}
.more-half {
    width: 60%;
}
.more-half2 {
    width: 63%;
}
.half-quarter {
    width: 5%;
    margin: 0;
}
.two-third {
    width: 66.666%;
}
    
.less-three-quarters {
    width: 70%;
}
.list {
    list-style-type: none;
    border-top: none !important;
}

/* fin clases generales */

/* clases de topcoat modificadas por mi para personalizarlas */
.topcoat-button-bar__button:hover, .topcoat-button-bar__item:hover, topcoat-icon-button--quiet:hover {
    border-color: #58ACFA;
}
.topcoat-button-bar__item img {
    vertical-align: middle;
    padding: 1%;
}
.topcoat-button-bar__item {
    text-align: center;
}
.topcoat-button--cta {
    vertical-align: middle;
}
.topcoat-button--cta:hover {
    border-color: #ACFA58;
    border-width: 2px;
}
.back-button {
    position: absolute;
    top: 10px;
}

.topcoat-icon--back {
    background: url("../img/back.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.topcoat-icon--next {
    background: url("../img/next_blue.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.topcoat-icon--exit {
    background: url("../img/exit.svg") no-repeat;
    width: 42px;
    height: 42px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.topcoat-icon--home {
    background: url("../img/home.svg") no-repeat;
    width: 42px;
    height: 42px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.topcoat-icon--help {
    background: url("../img/ayuda.svg") no-repeat;
    width: 42px;
    height: 42px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.topcoat-icon--new {
    background: url("../img/new.svg") no-repeat;
    width: 40px;
    height: 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.topcoat-navigation-bar {
  position: static;
  height: 4.6rem;
  vertical-align: middle;
}
.topcoat-navigation-bar__title {
  font-weight: bold;
  color: #2E2EFE;
}
.topcoat-button-bar__item {
  vertical-align: middle;
}
.topcoat-button--large {
    min-width: 400px;
    max-width: 800px;
    heigh: auto;
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}
topcoat-button--large:hover {
    opacity: 0.5;
}
.topcoat-list__item {
  padding: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #9daca9;
}
.topcoat-list {
    width: 96%;
}
