<div class="topcoat-navigation-bar">
   <div class="topcoat-navigation-bar__item center half-quarter">
        <img class="logo" src="img/logoFGris.png"/>
    </div>
    <div class="topcoat-navigation-bar__item center two-third">
        <h1 class="topcoat-navigation-bar__title">El Fraseador</h1>
    </div>
     <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button"  >
                <span class="topcoat-icon topcoat-icon--help" id="help"></span>
            </buton>
       </div>
      <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button salir"  >
                <span class="topcoat-icon topcoat-icon--exit"></span>
            </buton>
       </div>
</div>
<div class="scroller">
  <div class="botones center">
    <a href='#ordenar'><button class="topcoat-button--cta" ><img class="imgHome" src="img/ordenarfrase_color.png"/></button></a>  
    <span>&nbsp;&nbsp;</span>
    <a href='#sujetos'><button class="topcoat-button--cta" ><img class="imgHome" src="img/inventarfrase_color.png"/></button></a>
  </div>
    <footer>
     <h2>Copyright @Andrea Gutiérrez Muñoz 2015 - Proyecto DAW</h2>
     <h4><em>Autor pictogramas:</em> <span>Sergio Palao.</span> <em>Procedencia:</em> <span>ARASAAC http://catedu.es/arasaac/</span>  <em>Licencia:</em> <span><strong>CC (BY-NC-SA).</strong></span> </h4>
    </footer>
</div>