<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">El Fraseador</h1>
    </div>
</div>
<div class="scroller">
  <div class="botones center">
    <a href='#ordenar'><button class="topcoat-button--cta" ><img class="imgHome" src="img/ordenarfrase_color.png"/></button></a>  
    <span>&nbsp;&nbsp;</span>
    <a href='#sujetos'><button class="topcoat-button--cta" ><img class="imgHome" src="img/inventarfrase_color.png"/></button></a>
  </div>
    <footer>
     <h2>Copyright @Andrea Gutiérrez Muñoz 2015</h2>
     <h4>Autor pictogramas: Sergio Palao. Procedencia: ARASAAC http://catedu.es/arasaac/Licencia: CC (BY-NC-SA). </h4>
    </footer>
</div>