<div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left half-quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Inventar Frases</h1>
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button salir"  >
                <span class="topcoat-icon topcoat-icon--exit"></span>
            </buton>
       </div>
</div>
<div class="scroller">
  <div class="cajaInventar">
    <div class="fraseordenada">
      
        <div class="clearfix" id="fraseC">
           
        </div>
     
   </div>
   
   <div class="listapalabras">
       <div class="topcoat-button-bar full">
           <div class="topcoat-button-bar__item e1">
                <a href='#sujetos'><button class="topcoat-button-bar__button full e1" id="su"><img class="botonG" src="img/sujeto.png"/></button></a>
           </div>
           <div class="topcoat-button-bar__item e2">
             <a href='#acciones'><button class="topcoat-button-bar__button full e2" id="ac"><img class="botonG" src="img/accion.png"/></button></a>
           </div>
           <div class="topcoat-button-bar__item e3">
             <a href='#complementos'><button class="topcoat-button-bar__button full e3" id="co"><img class="botonG" src="img/complemento.png"/></button></a>
           </div> 
        </div>
   </div>
    
    </div> </button>
    <footer>
     <h2>Copyright @Andrea Gutiérrez Muñoz 2015</h2>
     <h4>Autor pictogramas: Sergio Palao. Procedencia: ARASAAC http://catedu.es/arasaac/Licencia: CC (BY-NC-SA). </h4>
    </footer>
</div>