<div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left half-quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center less-half">
           <h1 class="topcoat-navigation-bar__title">Ordenar Frases</h1> 
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter" >
            <a class="topcoat-icon-button--quiet back-button" href="#">
                <span class="topcoat-icon topcoat-icon--home"></span>
            </a>
            
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button salir"  >
                <span class="topcoat-icon topcoat-icon--exit"></span>
            </buton>
       </div>
    </div>
<div class="scroller">
    <div class="topcoat-button-bar full nivelesB">
       <div class="topcoat-button-bar__item clearfix">
         <a href='#ordenar/1'><button class="topcoat-button-bar__button" id="1">Nivel 1</button></a>
       </div>
       <div class="topcoat-button-bar__item clearfix">
         <a href='#ordenar/2'><button class="topcoat-button-bar__button" id="2">Nivel 2</button></a>
       </div>
       <div class="topcoat-button-bar__item clearfix">
         <a href='#ordenar/3'><button class="topcoat-button-bar__button" id="3">Nivel 3</button></a>
       </div>
        <div class="topcoat-button-bar__item clearfix">
          <a href='#ordenar/4'><button class="topcoat-button-bar__button" id="4">Nivel 4</button></a>
       </div>
    </div>
   
    <footer>
      <h3>Copyright @Andrea Gutiérrez Muñoz 2015</h3>
    </footer>
</div>

