<div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left half-quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
           <h1 class="topcoat-navigation-bar__title">Ordenar Frases</h1> 
        </div>
       
       <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button salir"  >
                <span class="topcoat-icon topcoat-icon--exit"></span>
            </buton>
       </div>
</div>
<div class="scroller">
  <div class="fondo">
    <div class="topcoat-button-bar nivelesB">
       <div class="topcoat-button--large clearfix n1">
         <a href='#nivelorden/1'><span id="1">Nivel 1</span></a>
       </div>
       <div class="topcoat-button--large clearfix n2">
         <a href='#nivelorden/2'><span id="2">Nivel 2</span></a>
       </div>
       <div class="topcoat-button--large clearfix n3">
         <a href='#nivelorden/3'><span id="3">Nivel 3</span></a>
       </div> 
        <div class="topcoat-button--large clearfix n4">
          <a href='#nivelorden/4'><span id="4">Nivel 4</span></a>
       </div>
    </div>
  </div> 
    <footer>
      <h2>Copyright @Andrea Gutiérrez Muñoz 2015</h2>
    </footer>
</div>

